.feedback {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 649px;
    margin: 0 auto 17px;
    @media screen and (max-width: 698px) {margin: 0 15px 37px 31px;}
    &__title {
        font-family: $inter;
        text-transform: capitalize;
        line-height: 24px;
    }
    &__all {
        padding: 16px 24px;
        border-radius: var(--radius-radius-minimal, 8px);
        border: 1px solid var(--button-Tertiary-button-tertiary-standard-border-color, #E2E8F0);
        background: var(--button-Tertiary-button-tertiary-standard-background-color, #FFF);
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #f0f0f0;
        }
        @media screen and (max-width: 450px) {padding: 10px 18px;}
    }
}
.precentages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__text {
        color: var(--color-grey-black, #000);
        font-size: 14px;
        line-height: 20px;
    }
}